# Virtual environment
venv/
proto-env/

# Bytecode
__pycache__/

# Database
*.sqlite3

# Django settings
*.env
.env

# IDE settings
*.vscode/
*.idea/

# user uploads
uploads/

# migrations
migrations/
*migrations/

Records/