python-dotenv
PyJWT
djangorestframework
mysqlclient
pymysql
djangorestframework-simplejwt
django-cors-headers
groq
Pillow
openai
celery
django-sql-explorer==2.1.3
cloudinary
dj_database_url
redis>=4.5.0
django-extensions>=3.2.0
psycopg2-binary>=2.9.9
bs4
gunicorn>=21.2.0
whitenoise>=6.6.0